.navegacion{
    display: flex;
    justify-content: end;
}
.logo{
    width: 86pt;
    height: 25pt;
}
.letra{
    font-family: roboto;
}
.cupon{
    display: flex;
    justify-content: space-evenly;
}
.enviar{
    display: flex;
    justify-content: center;
}
.imagen{
    width: 264pt;
    height: 124pt;
}
.targeta{
    width: 184pt;
    height: 264pt;
}
.logo2{
    width: 86pt;
    height: 25pt;
